#add-form {
    width: 80%;
    margin: 100px auto;
}
#media-preview {
    margin-top: 100px;
}
#logout {
    text-decoration: none;
    padding: 5px;
    color: white;
    border-radius: 8px;
    background-color: grey;
}

.bold {
    font-weight: bold;
}

#cat-select {
    margin: 5px 0;
}

#cat-select select {
    border-radius: 5px;
    padding: 5px;
    border: 1px solid #ced4da;
}

.form-group > label {
    margin: 5px 0;
}

.body-panel {
    min-height: 70vh;
}

.add-10-margin {
    margin: 10px auto;
}